@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body {
  font-family: "Roboto-Regular";
}

.container  {
  width: 1200px;
  margin: 50px auto;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  padding: 50px;
}

.container .heading-container {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.container h1 {
  font-family: 'Lobster', cursive;
  font-size: 55px;
  margin: 0;
  margin-right: 20px;
  color: #d75a4a;
}

.container article {
  font-family: "Roboto-Regular";
  font-style: normal;
}

#pass-form {
  margin-bottom: 30px;
}


#pass-form label {
  font-size: 24px;
  display: block;
  margin-bottom: 5px;
}

#pass-form .input-wrapper {
  display: flex;
}

#pass-form input {
  font-size: 18px;
  padding: 5px 0;
  border: 1px solid #000;
  flex-basis: 0;
  flex: 1 1 0px;
  padding-left: 10px;
}

#pass-form button {
  border: 1px solid black;
  font-size: 18px;
  padding: 10px 0;
  text-transform: uppercase;
  cursor: pointer;
  flex-basis: 0;
  flex: 1 1 0px;
  border-left: none;
  background: #d75a4a;
  transition: 0.3s;
  color: #fff;
}

#pass-form button:hover {
  background: #b44638;
}


#article-content {
  height: 0;
  overflow: hidden;
  transition: 0.5s;
}

#article-content p {
  font-size: 18px;
}

#article-content  img {
  display: block;
  height: 860px;
}

.article-active {
  height: auto !important;
}

.error {
  display: none;
}

.error-active {
  display: block;
}

@media screen and (max-width: 1200px) {
  .container {
    width: auto;
    margin: 10px;
  }
}